@font-face {
	font-family: 'Eras Light';
	src: url('../fonts/ErasLight.ttf');
}

@font-face {
	font-family: 'Eras Bold';
	src: url('../fonts/ErasBold.ttf');
}

/* Global */

body {
    margin: 0;
    padding: 0;
    background: url('../img/backgrounds/desert-day.jpeg') no-repeat center fixed;
	-webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.position {
    background: url('../img/backgrounds/jungle-day.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.itinerary {
    background: url('../img/backgrounds/savanah-day.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.weather {
    background: url('../img/backgrounds/snow-day.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.environment {
    background: url('../img/backgrounds/desert-day.jpeg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#container {
    margin: 50px auto;
    width: 80%;
}

.icons {
    display: flex;
    justify-content: space-between;
    font-family: 'Eras Light';
}

.menu {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    width: calc(100% / 3 - 67.5px);
    height: 200px;
    max-height: 30vh;
    margin: 50px 0;
    text-align: center;
    cursor: pointer;
}

.menu:hover {
    box-shadow: 0px 0px 10px 0px;
}

.menu p {
    margin: 30px 0 0 0;
    font-size: 2em;
    color: #fff;
}

.menu .fa {
    color: #fff;
}

.menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}

.menu a div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map {
    height: 500px;
    max-height: 50vh;
}

h1 {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    font-family: 'Eras Light';
}

.back {
    display: block;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    font-family: 'Eras Light';
    font-size: 20px;
    cursor: pointer;
}

.back a {
    display: block;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: calc(100vh - 240px);
}

.hour {
    font-family: 'Eras Bold';
    font-size: 30px;
}

.temp {
    font-family: 'Eras Light';
    font-size: 30px;
}

#weather-infos {
    display: flex;
    justify-content: space-between;
}

.weather-info {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 20%;
    color: #fff;
    font-size: 20px;
}

.weather-info img {
    vertical-align: middle;
}